*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#008080+21,008080+21,008080+21,e0e0e0+21 */
background: rgb(0,128,128); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,128,128,1) 21%, rgba(0,128,128,1) 21%, rgba(0,128,128,1) 21%, rgba(224,224,224,1) 21%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,128,128,1) 21%,rgba(0,128,128,1) 21%,rgba(0,128,128,1) 21%,rgba(224,224,224,1) 21%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,128,128,1) 21%,rgba(0,128,128,1) 21%,rgba(0,128,128,1) 21%,rgba(224,224,224,1) 21%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */


}

.container {
    width: 100%;
    height: 100vh;
    min-width: 1024px;
    margin: auto;
    display: flex;
    align-items: center;
}

.boolzap {
    width: 80%;
    height: 560px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
}

header {
    width: 100%;
    height: 10%;
    background-color: rgb(240, 240, 240);
}

.header-left {
    width: 35%;
    height: 100%;
    float: left;
    border-right: 1px solid rgb(150, 150, 150);
    justify-content: space-between;
}
.header-right {
    width: 65%;
    height: 100%;
    float: left;
}

main {
    width: 100%;
    height: 90%;
}

.user-chat {
    width: 35%;
    height: 100%;
    float: left;
}
.single-chat {
    width: 65%;
    height: 100%;
    float: left;
}

.avatar {
    padding-left: 5px;
    width: 50px;
}

.icon{
    color: grey;
    padding-right: 5px;
    cursor: pointer;
}

.friend-chat-left {
    width: 35%;
    float: left;
}

.friend-chat-right {
    line-height: 50px;
    text-align: right;
    width: 65%;
    float: right;
}

.friend-name p:first-child {
    font-size: 13px;
}

.friend-name {
    line-height: 5px;
    font-size: 10px;
    padding-left: 10px;
}

.chat-box {
    line-height: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}


.notifications {
    background-color: deepskyblue;
}

.icon-notifications img {
    padding-left: 5px;
    width: 35px;
}

.notifications-advice {
    padding-bottom: 10px;
}

.notifications-advice p {
    font-weight: bold;
}

.notifications-advice a {
    color: darkslategrey;
}

.input-search {
    text-align: center;
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
}

.fa-search {
    margin-right: 2px;
    padding: 8px;
    background-color: white;
    border-radius: 50%;
}

.start-chat {
    width: 89%;
    margin: 4px 4px;
    padding: 8px;
    border-radius: 2px;
}

.user-chat {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.contacts {
    overflow-y: scroll;
}

.contacts::-webkit-scrollbar, .messages-box::-webkit-scrollbar {
    width: 10px;
}

.contacts::-webkit-scrollbar-thumb, .messages-box::-webkit-scrollbar-thumb {
    background: #888;
}

.contacts::-webkit-scrollbar-thumb:hover, .messages-box::-webkit-scrollbar-thumb:hover {
     background: #555;
}

.messages-box::-webkit-scrollbar-track {
  background: rgb(240, 240, 240);
}

.grey {
    background-color: lightgrey;
}

.single-contact {
    border-bottom: 1px solid rgb(230, 230, 230);
    justify-content: space-between;
}

.text-box {
    padding-left: 10px;
}

.name {
    font-weight: bold;
}

.friend-message, .time {
    padding-right: 5px;
    font-size: 12px;
    color: rgb(150, 150, 150);
}

.chat-container {
    width: 90%;
    margin: auto;
}

.chat-container div:first-child {
    margin-top: 50px;
}

.message {
    min-width: 100px;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    clear: both;
    position: relative;
}

.message-text {
    padding-bottom: 10px;
}

.checks {
    font-size: 10px;
    color: rgb(150, 150, 150);
    position: absolute;
    right: 10px;
    bottom: 0px;
}

.sent {
    float: left;
    background-color: white;
}

.received {
    float:right;
    background-color: #64f28a;
}

.messages-box {
    display: none;
    width: 100%;
    height: 90%;
    background-image: url("img/chat-wallpaper.jpg");
    background-size: contain;
    overflow-y: scroll;
}

.icona-dropdown {
    cursor: pointer;
}

.checks p {
    padding-right: 5px;
}

.options-message {
    display: none;
    position: absolute;
    top: 25px;
    right: 0px;
    width: 100px;
    border: 1px solid black;
    font-size: 12px;
    padding: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.options-message p:hover {
    color: grey;
}

.form-chat {
    height: 10%;
    width: 100%;
    background-color: rgb(240, 240, 240);
    justify-content: space-evenly;
}

.form-chat input {
    color: lightslategrey;
    height: 40px;
    width: 80%;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.single-contact.active {
    background-color: lightgrey;
}

.messages-box.active, .options-message.active {
    display: block;
}

.template {
    display: none;
}
